<form name="registerForm" class="row g-3" action="javascript:">
  <div class="">
    <input class="form-control" placeholder="E-Mail" type="email" name="email" id="email" required>
  </div>
  <div class="">
    <input class="form-control" placeholder="Password" type="password" name="password" id="password" required>
  </div>
  <div class="">
    <input class="btn btn-primary w-100" type="submit" value="Login">
  </div>
</form>
<a onclick="app().showModal('/test');" href="javascript:">Show test dialog</a>
<a onclick="app().showModal('/dialog');" href="javascript:">Show test dialog2</a>